version: "3.5"

services:
  db:
    image: postgres:13.1-alpine
    restart: unless-stopped
    container_name: teedy_db
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev@123
      POSTGRES_DB: teedy_dms_db
    ports:
      - 5432:5432
    volumes:
      - ~/container-data/teedy/db:/var/lib/postgresql/data
    networks:
      - teedy_network

  teedy:
    build:
      context: .
    image: teedy
    restart: unless-stopped
    container_name: teedy_service
    environment:
      DATABASE_URL: jdbc:postgresql://db:5432/teedy_dms_db
      DATABASE_USER: dev
      DATABASE_PASSWORD: dev@123
      JWT_SECRET_KEY: nsK0ZekLdM7pnAVe7hoQw8_mAUm4TIbA-oSReF0rKXPImvQE
      JWT_TTL_IN_SECONDS: 500
    ports:
      - 8080:8080
    volumes:
      - ~/container-data/teedy/storage:/data
    networks:
      - teedy_network
    depends_on:
      - db

networks:
  teedy_network:
    driver: bridge
